# ASP.NET Core
bin/
obj/
.vs/
*.user
*.pfx
*.p12
appsettings.Development.json

# React / Vite
MiniERP.Client/node_modules/
MiniERP.Client/dist/
MiniERP.Client/.env
MiniERP.Client/.env.local
MiniERP.Client/.env*.local

# Obecné
.DS_Store
Thumbs.db
*.log
logs/